# Byte-compiled / optimized / DLL files
__pycache__/

# Sphinx documentation
docs/_build/
docs/build/
docs/source/api/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# macOS system files
.DS_Store